#drum-machine {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(163, 160, 160);
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 5px orange;
    height: 270px;
    width: 360px;
    background-color: rgb(201, 197, 192);
}

.drum-pad {
    width: 50px;
    height: 40px;
}

.drum-row {
    padding: 10px;
}

#display {
    border: solid 1px black;
    width: 160px;
    height: 32px;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

#heading {
    font-size: 22px;
    font-weight: 900;
}